*{
    box-sizing: border-box;
    margin: 0%;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}


.container{
    /* padding: 5px; */
    text-align: left;
    width: 70%;
    margin: auto;
    /* margin: 0px 0 100px 0px; */
    
}
/* baslıktan -img e kadar */

h1{
    margin-top: 40px;
    margin-bottom: 20px;
}

div p{
    /* text-align: left; */
    width: 600px;
    margin: 20px 0 20px 0;
    word-spacing: 3px;
}

.karen{
text-decoration: underline;
text-decoration-color: red;
}

div a{
    margin-bottom: 3px;
    text-decoration-color: red;
}

a:visited {
    color: black;
}
/* img-time */

.time{
    /* border-radius: 5px; */
    width: 600px;
    height: 70px;
    background-color:  #F5F6EA;
    margin: 20px 0 30px 0;
}

.time p {
    display: inline;
    margin: 4px;
    

}

.time p span{
    font-weight: 900;
}

/* ingredients */
#ingredients h2, li{
    margin: 20px;
}

/* directions */
.directions{
    margin-top: 40px;
    width: 600px;
}


/* nutritions */
.nutrition{
    margin-top: 30px;
    margin-bottom: 100px;
}

.nutrition small{
    font-weight: 100;
  
}
.nutrition span{
    color: crimson;
}